@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
}

/* Testimonial slider styles */
.testimonial-slider {
  touch-action: pan-y;
}

.testimonial-slider::-webkit-scrollbar {
  display: none;
}

.testimonial-card {
  transition: all 0.3s ease;
}

.testimonial-card:hover {
  transform: translateY(-5px);
}